body{
    font-family: "Courier New", Courier, monospace
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
}

.logo{
    float:left;
    text-align: left;
    width: 100%;
    position: relative;
    top: 0;
}

.fixed-navbar{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 10;
    border-radius: 20px;
    z-index: 1000;
}

.jumbotron{
    background-image: url(https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.header{
    text-transform: uppercase;
}

.display-4{
    text-align: center;
}

.lead{
    text-align: center;
}
